<ul uib-pagination total-items="vm.articles.length" ng-model="vm.currentPage" items-per-page="vm.itemsPerPage" class="pagination-sm" boundary-link-numbers="true" rotate="false"></ul>

<div ng-repeat="article in vm.articles.slice(((vm.currentPage-1)*vm.itemsPerPage), ((vm.currentPage)*vm.itemsPerPage))">
  <div class="media">  
    <div class="media-left">
      <a href="#{{ article.url }}">
        <img class="media-object" style="width:150px;" ng-src="{{ article.banner }}" alt="">
      </a>
    </div>
    <div class="media-body info">
      <h3 class="media-heading"><a href="#{{ article.url }}">{{ article.title }}</a></h3>
      <span ng-repeat="cat in article.categories">
        <a href="/#/{{ cat }}"><i class="label label-default">{{ cat }}</i></a>
      </span>
      <p marked="article.overview"></p>   
      <span>
          by {{article.author}}
      </span> |  
      <span class="glyphicon glyphicon-time"></span> Posted on <span ng-bind="article.publishDate | date:'MM/dd/yyyy'"></span>
    </div>
    <hr/>
  </div>
</div>
